.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 24px;
    gap: 16px;
    height: var(--li-header-height);
    background: var(--bg-white);
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.separator-vertical {
    width: 1px;
    height: 32px;
    background-color: var(--stroke-pale);
    margin: 0 8px;
}