.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--bg-white);
    border: 1px solid var(--stroke-pale);
    border-radius: 12px;
    overflow-x: auto;
    scrollbar-width: none;
    overflow-y: hidden;
    transition: background-color var(--transition-1), border-color var(--transition-1);
}

.table-header-row {
    display: flex;
    align-items: center;
    height: 48px;
    min-width: fit-content;
    background: var(--bg-pale);
    transition: background-color var(--transition-1), color var(--transition-1);
}

.body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: fit-content;
}

.table-row {
    display: flex;
    align-items: stretch;
    min-height: 58px;
    min-width: fit-content;
    flex-shrink: 0;
    transition: background-color var(--transition-1);
}

.table-row:hover {
    background: var(--bg-pale);
}

.cell {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    flex-shrink: 0;
}

.artist {
    width: 17.5%;
    min-width: 116px;
}

.client {
    width: 15%;
    min-width: 102px;
}

.type {
    width: 15%;
    min-width: 110px;
}

.style {
    width: 11.5%;
    min-width: 78px;
}

.datetime {
    width: 22%;
    min-width: 160px;
}

.status {
    width: 19%;
    min-width: 131px;
}

.avatar {
    width: 24px;
    height: 24px;
    border: 1px solid var(--border);
    border-radius: 50%;
    object-fit: cover;
    transition: border-color var(--transition-1);
}

.table-row:hover .avatar {
    border-color: var(--stroke-pale);
}

.date-time {
    line-height: 140%;
}