.artist {
    width: 17.5%;
    min-width: 116px;
}

.client {
    width: 15%;
    min-width: 102px;
}

.type {
    width: 15%;
    min-width: 110px;
}

.style {
    width: 11.5%;
    min-width: 78px;
}

.datetime {
    width: 22%;
    min-width: 160px;
}

.status {
    width: 19%;
    min-width: 131px;
}

.date-time {
    line-height: 140%;
}