.sidebar {
    width: var(--sidebar-width);
    height: 100%;
    background: var(--bg-white);
    transition: width var(--transition-1);
}

.sidebar.active {
    width: var(--sidebar-expanded-width);
    border-radius: 0px 20px 20px 0px;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    gap: 26px;
}

.gap-16px {
    height: 16px;
    width: 100%;
}

.margin-auto {
    margin-top: auto;
}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 4px;
    gap: 12px;
    width: 100%;
    background: var(--bg-subtle);
    border-radius: 20px;
}

.li {
    width: 100%;
}