.appointmentsCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    background: var(--bg-white);
    border-radius: 16px;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.headerControls {
    display: flex;
    align-items: center;
    gap: 12px;
}

.chipGroup {
    display: flex;
    align-items: center;
    gap: 12px;
}

.listWrapper {
    background: var(--bg-white);
    border: 1px solid var(--stroke-pale);
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.appointmentRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    gap: 24px;
    background: var(--bg-pale);
    border-radius: 12px;
    transition: background-color var(--transition-1);
}

.appointmentRow:hover {
    background: var(--bg-subtle);
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.iconBox {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-white);
    box-shadow: 0px 1px 2px rgba(228, 229, 231, 0.24);
    border-radius: 8px;
}

.emoji {
    font-size: 16px;
    line-height: 100%;
}

.timeText {
    color: var(--text-secondary);
}

.empty {
    color: var(--text-secondary);
}