.wrapper {
    min-width: 235px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.pp {
    width: 48px;
    aspect-ratio: 1 / 1;
    height: auto;
    border-radius: 100px;
    flex: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 12px;
    gap: 4px;
}

.name {
    color: var(--text-bold);
}

.email {
    color: var(--text-sheen);
}