.wrapper {
    min-width: 235px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.pp {
    width: 48px;
    aspect-ratio: 1 / 1;
    height: auto;
    border-radius: 100px;
    flex: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 12px;
    gap: 4px;
}

.name {
    color: var(--text-bold);
}

.email {
    color: var(--text-sheen);
}

/* Tablet */
@media (max-width: 1200px) {
    .wrapper {
        min-width: 180px;
        gap: 8px;
    }

    .pp {
        width: 36px;
    }

    .info {
        padding-right: 8px;
        gap: 2px;
    }
}