.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    gap: var(--page-gap);
    background: var(--bg-white);
    border-radius: 16px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--page-gap);
}

.chart-container {
    width: 100%;
    height: 329px;
}

.axis-tick {
    text-align: center;
}

.y-axis-tick {
    text-anchor: start;
}

.cursor {
    stroke: var(--text-primary);
    stroke-width: 2;
    stroke-dasharray: 2 2;
}

.active-dot {
    r: 6;
    fill: var(--bg-white);
    stroke: var(--bg-primary-normal);
    stroke-width: 3;
}