.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    gap: var(--page-gap);
    background: var(--bg-white);
    border-radius: 16px;
    width: 100%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--page-gap);
}

.axis-tick {
    text-align: center;
    fill: var(--text-primary);
}

.y-axis-tick {
    text-anchor: start;
    fill: var(--text-primary);
}

.cursor {
    stroke: var(--text-primary);
    stroke-width: 2;
    stroke-dasharray: 2 2;
}