.table {
    width: 100%;
    background: var(--bg-white);
    border: 1px solid var(--stroke-pale);
    border-radius: 12px;
    transition: background-color var(--transition-1), border-color var(--transition-1);
    overflow: clip;
    overflow-x: auto;
    scrollbar-width: none;
}

.table-content-wrapper {
    min-width: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: none;
}

.table-header-row {
    display: flex;
    align-items: center;
    width: auto;
    height: 48px;
    background: var(--bg-pale);
    transition: background-color var(--transition-1), color var(--transition-1);
    padding-right: 12px; /* same as cell padding to align with header */
}

.body {
    display: flex;
    flex-direction: column;
    position: relative;
}

.table-row {
    display: flex;
    align-items: stretch;
    min-height: 58px;
    flex-shrink: 0;
    transition: background-color var(--transition-1);
    padding-right: 12px; /* same as cell padding to align with header */
}

.table-row:hover {
    background: var(--bg-pale);
}

.cell {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    flex-shrink: 0;
}

.avatar {
    width: 24px;
    height: 24px;
    border: 1px solid var(--border);
    border-radius: 50%;
    object-fit: cover;
    transition: border-color var(--transition-1);
}

.table-row:hover .avatar {
    border-color: var(--stroke-pale);
}