:root {
    --site-max-width: 1440px;
    --text-primary: #121212;
    --text-bold: #121212;
    --bg-bold: #121212;
    --icon-bold: #121212;
    --stroke-bold: #121212;
    --input-text: #121212;
    --text-primary-50: rgba(0, 0, 0, 0.5);
    --text-success: #35B97E;
    --text-success-bold: #2CC974;
    --text-sheen: #888888;
    --text-secondary: #888888;
    --text-brand: #FF5C00;
    --bg-primary: #FF5C00;
    --primary-500: #FF5C00;
    --bg-primary-normal: #F46425;
    --bg-pending-bold: #F5B40B;
    --icon-primary-bold: #F46425;
    --text-primary-bold: #F46425;
    --stroke-primary-normal: #F46425;
    --bg-primary-50: rgba(255, 92, 0, 0.5);
    --bg-primary-pale: #FFF5ED;
    --bg-success-pale: #F1FCF5;
    --button-danger: #EF4444;
    --button-danger-hover: #B93535;
    --text-error: #B93535;
    --icon-warning-bold: #B93535;
    --text-warning-bold: #B93535;
    --stroke-pale: #E7E7E7;
    --bg-white: #FFFFFF;
    --text-white: #FFFFFF;
    --icon-white: #FFFFFF;
    --grayscale-0: #FFFFFF;
    --grayscale-900: #0D0D12;
    --border: #DBDBDB;
    --bg-pale: #F7F7F7;
    --neutral-100: #F7F7F7;
    --bg-subtle: #F7F7F7;
    --bg-warning-pale: #FEF2F2;
    --primary-1002: #FFD1B8;
    --red-50: #FDECEC;
    --linear-color: linear-gradient(240deg, var(--bg-primary-normal) 17%, var(--bg-pending-bold) 100%);
    --linear-white: linear-gradient(280deg, #FFFFFF 0%, #E5E5E5 76%);
    --sidebar-width: 92px;
    --sidebar-expanded-width: 320px;
    --li-header-height: 80px;
    --focus-outline: 2px solid var(--bg-primary-normal);
    --focus-outline-offset: 2px;
    --transition-1: 0.3s ease-out;
    --animation-fade-in: fadeIn var(--transition-1);
    --animation-fade-out: fadeOut var(--transition-1);
}

*:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
    border-radius: 8px;
}

body {
    font-family: var(--font-urbanist);
    background-color: var(--neutral-100);
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    color: var(--text-primary);
}

.overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--text-primary-50);
    backdrop-filter: blur(0px);
    z-index: 20;
    transition: backdrop-filter var(--transition-1);
}

.overlay-background.active {
    width: 100%;
    backdrop-filter: blur(6px);
}

.separator-1 {
    width: 100%;
    height: 1px;
    background: var(--stroke-pale);
    flex: none;
}

/* Typography */
.head-40-600-120 {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
}

.text-18-500-130 {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}

.head-16-700-131 {
    font-weight: 700;
    font-size: 16px;
    line-height: 131%;
}

.text-16-500-131 {
    font-weight: 500;
    font-size: 16px;
    line-height: 131%;
}

.text-14-600-120 {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
}

.text-14-500-136 {
    font-weight: 500;
    font-size: 14px;
    line-height: 136%;
}

.text-14-400-130 {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.text-12-400-133 {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
}

.text-10-400-120 {
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}