.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 22px;
    background: #F6FFDE;
    border: 1px solid var(--text-success);
    border-radius: 4px;
}

.okay,
.good {
    border-color: var(--text-success);
    color: var(--text-success);
}

.low {
    background: #F4F4F4;
    border-color: #6B6B6B;
    color: #6B6B6B;
    font-weight: 500;
}

.out {
    background: var(--red-50);
    border-color: var(--text-error);
    color: var(--text-error);
}