.transition {
    transition: all var(--transition-1);
}

.icon {
    aspect-ratio: 1 / 1;
    height: auto;
    flex: none;
}

/* Tablet */
@media (max-width: 1200px) {
    .icon-16 {
        width: 14px;
    }

    .icon-20 {
        width: 16px;
    }

    .icon-24 {
        width: 20px;
    }

    .icon-44 {
        width: 36px;
    }
}

/* Mobile  */
@media (max-width: 768px) {
    .icon-16 {
        width: 12px;
    }

    .icon-20 {
        width: 14px;
    }

    .icon-24 {
        width: 16px;
    }

    .icon-44 {
        width: 32px;
    }
}