.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    background: var(--bg-white);
    border-radius: 16px;
    position: relative;
}

.card:hover {
    background: var(--linear-color);
    box-shadow: var(--shadow-1);
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-wrapper {
    width: 40px;
    aspect-ratio: 1 / 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-white);
    border: 1px solid var(--stroke-pale);
    border-radius: 50%;
}

.trend-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.trend-text {
    color: var(--text-sheen);
}

.card-element {
    position: absolute;
    top: 0;
    right: 0;
    aspect-ratio: 113 / 111;
    width: 57px;
    height: auto;
    opacity: 0;
    transition: opacity var(--transition-1);
}

.card:hover .heading,
.card:hover .text,
.card:hover .trend-text {
    background: var(--linear-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.card:hover .card-element {
    opacity: 1;
}

/* Tablet */
@media (max-width: 1200px) {
    .card {
        padding: 10px;
        gap: 10px;
        border-radius: 10px;
    }

    .header {
        gap: 6px;
    }

    .icon-wrapper {
        width: 30px;
    }

    .trend-info {
        gap: 6px;
    }

    .card-element {
        width: 45px;
    }
}