.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    aspect-ratio: 1 / 1;
    height: auto;
    background: var(--bg-white);
    border: 1px solid var(--stroke-pale);
    border-radius: var(--radius-12);
    cursor: pointer;
    transition: background-color var(--transition-1), border-color var(--transition-1);
}

.button:hover {
    background: var(--bg-pale);
}

/* Tablet */
@media (max-width: 1200px) {
    .button {
        width: 32px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .button {
        width: 28px;
    }
}