.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    background: var(--bg-white);
    color: var(--text-bold);
    border-radius: var(--radius-12);
    height: 44px;
}

.theme {
    padding: 8px;
    background: var(--bg-primary-normal);
}

.theme,
.icon-theme {
    color: var(--bg-white);
}

/* Tablet */
@media (max-width: 1200px) {
    .button {
        padding: 6px 10px;
        gap: 6px;
        height: 36px;
    }

    .theme {
        padding: 6px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .button {
        padding: 4px 8px;
        gap: 4px;
        height: 28px;
    }

    .theme {
        padding: 4px;
    }
}