.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    background: var(--bg-white);
    color: var(--text-bold);
    border-radius: 12px;
    height: 44px;
}

.theme {
    padding: 8px;
    background: var(--bg-primary-normal);
}

.theme,
.icon-theme {
    color: var(--bg-white);
}