.button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    gap: 8px;
    width: auto;
    height: auto;
    background: var(--button-danger);
    border-radius: 100px;
    overflow: hidden;
}

.icon {
    flex: none;
}