.wrapper {
    position: relative;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    aspect-ratio: 1 / 1;
    height: auto;
    border: 1px solid var(--stroke-pale);
    border-radius: var(--radius-12);
    flex: none;
    position: relative;
}

.unread-dot {
    width: 7px;
    aspect-ratio: 1 / 1;
    height: auto;
    border-radius: 50%;
    background: var(--button-danger-hover);
}

.on-bell {
    position: absolute;
    top: 8px;
    right: 8px;
}

.popup {
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 457px;
    height: 354px;
    padding: 16px;
    background: var(--bg-white);
    border: 1px solid var(--border);
    border-radius: var(--radius-12);
    z-index: 11;
    position: absolute;
    top: 72px;
    right: -28px;
    opacity: 0;
    animation: var(--animation-fade-in);
    animation-fill-mode: forwards;
}

.popup.closing {
    animation: var(--animation-fade-out);
    animation-fill-mode: forwards;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.mark-all-button {
    color: var(--text-brand);
}

.notifications-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 12px;
    padding-top: 12px;
    overflow: auto;
    scrollbar-width: none;
}

.notification-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 6px;
    height: 60px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.message,
.timeago {
    color: var(--text-secondary);
}

.empty {
    padding: 12px 0;
    text-align: center;
    color: var(--text-secondary);
}

/* Tablet */
@media (max-width: 1200px) {
    .button {
        width: 36px;
    }

    .unread-dot {
        width: 5px;
    }

    .on-bell {
        top: 6px;
        right: 6px;
    }

    .popup {
        width: 320px;
        height: 250px;
        padding: 12px;
        top: 54px;
        right: -20px;
    }

    .notifications-list {
        gap: 8px;
        padding-top: 8px;
    }

    .notification-item {
        gap: 4px;
        height: 50px;
    }

    .content {
        gap: 2px;
    }

    .empty {
        padding: 8px 0;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .button {
        width: 32px;
    }
}