.tooltip {
    background: var(--bg-bold);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px;
    box-shadow: var(--shadow-2);
    border-radius: 6px;
    color: var(--text-white);
    gap: 0px;
}