.overview {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: var(--page-padding);
    gap: 24px;
    width: 100%;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: none;
}

.dashboard-content {
    display: flex;
    align-items: flex-start;
    gap: var(--page-gap);
}

.content-left,
.content-right {
    width: calc(50% - (var(--page-gap) / 2));
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--page-gap);
    flex: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: var(--page-gap);
}

/* Tablet */
@media (max-width: 1200px) {
    .overview {
        gap: var(--page-gap);
    }

    .header-content, .header-menu {
        width: 50%;
    }

    .header-content {
        gap: 6px;
    }

    .header-menu {
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 8px;
    }
}