.link {
    aspect-ratio: 180 / 52;
    width: 180px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    aspect-ratio: 1 / 1;
    width: 31%;
    height: auto;
    background: var(--bg-primary);
    border-radius: 6.7%;
    filter: drop-shadow(0px 2px 2px var(--bg-primary-50));
}

.logo-text {
    aspect-ratio: 96 / 35;
    width: 53%;
    height: auto;
    margin-right: 7.8%;
}

.collapsed {
    aspect-ratio: 1 / 1;
    width: 56px;
    justify-content: center;
}

.collapsed .logo {
    width: 100%;
}

/* Tablet */
@media (max-width: 1200px) {
    .link {
        width: 150px;
    }

    .collapsed {
        width: 47px;
    }
}